<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">Ministère<br>justice</p>
                        </div>
                        {#  Menu mobile #}
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('app_homepage') }}" title="Mon Indemnisation Justice"></a>
                        <p class="fr-header__service-title">Mon Indemnisation Justice</p>
                        <div>
                            {% if app.environment != 'prod' %}
                            <p class="fr-badge fr-badge--warning fr-badge--no-icon">Plateforme test</p>
                            {% endif %}
                            <p class="fr-badge fr-badge--info fr-badge--no-icon">Espace agent</p>
                        </div>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <span class="fr-btn fr-icon-account-circle-line">{{ app.user }}</span>
                            </li>
                            <a class="fr-btn fr-icon-logout-box-r-line"
                               href="{{ path('agent_securite_deconnexion') }}">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-474">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#  Version mobile #}
        <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
            <div class="fr-container">
                <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                    Fermer
                </button>
                <div class="fr-header__menu-links">
                    <ul class="fr-btns-group">
                        <li>
                            <span class="fr-btn fr-icon-account-circle-line">{{ app.user }}</span>
                        </li>
                        <a class="fr-btn fr-icon-logout-box-r-line"
                           href="{{ path('agent_securite_deconnexion') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>

                {# Menu principal #}
                <nav id="fr-header-main-navigation fr-container" class="fr-nav" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                            <a href="{{ url('agent_mon_compte') }}" class="fr-nav__link">Mon compte</a>
                        </li>
                        {% if is_granted('ROLE_AGENT_REDACTEUR') %}
                        <li class="fr-nav__item">
                            <a href="{{ url('app_agent_redacteur_accueil') }}" class="fr-nav__link">Dossiers</a>
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_AGENT_GESTION_PERSONNEL') %}
                            <li class="fr-nav__item">
                                <a href="{{ url('gestion_agents_index') }}" class="fr-nav__link">Gestion des agents</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>