{% extends 'base.html.twig' %}

{% block title %}{{'login.title'|trans}}{% endblock %}

{% block body %}
  <main class="fr-pt-md-14v" role="main" id="content">
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
      <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
        {# gestion des flashbags #}
        {% for message in app.flashes('notice') %}
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-alert fr-alert--success">
            <h3 class="fr-alert__title"></h3>
            <p>{{ message|trans }}</p>
          </div>
        </div>
        {% endfor %}
        {# /gestion des flashbags #}
        {% if error %}
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-alert fr-alert--error">
            <h3 class="fr-alert__title">{{'login.error.title'|trans}}</h3>
            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
          </div>
        </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
            <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
              <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                <div>
                  <form method="post">
                    <fieldset class="fr-fieldset" id="login-1760-fieldset" aria-labelledby="login-1760-fieldset-legend login-1760-fieldset-messages">
                      <legend class="fr-fieldset__legend" id="login-1760-fieldset-legend">
                          <h2>{{'login.comment'|trans}}</h2>
                      </legend>
                      <div class="fr-fieldset__element">
                          <p class="fr-text--sm">{{'login.details'|trans}}</p>
                      </div>
                    </fieldset>
                    <div class="fr-fieldset__element">
                      <fieldset class="fr-fieldset" id="credentials" aria-labelledby="credentials-messages">
                        <div class="fr-fieldset__element">
                          <div class="fr-input-group">
                            <label class="fr-label" for="username">{{'login.email'|trans}}
                              <span class="fr-hint-text">{{'login.email_example'|trans}}</span>
                            </label>
                            <input
                              type="email"
                              value="{{ last_username }}"
                              name="_username"
                              id="username"
                              class="fr-input"
                              autocomplete="email"
                              required
                              autofocus
                            >
                          </div>
                        </div>
                        <div class="fr-fieldset__element">
                          <div class="fr-password" id="password-1758">
                            <label class="fr-label" for="password">
                            {{'login.password'|trans}}
                            </label>
                            <div class="fr-input-wrap">
                              <input
                                aria-required="true"
                                aria-describedby="password-1758-input-messages"
                                type="password"
                                name="_password"
                                id="password"
                                class="fr-input fr-password__input"
                                autocomplete="current-password"
                                required
                              >
                            </div>
                            <div class="fr-messages-group" id="password-1758-input-messages" aria-live="assertive">
                            </div>
                            <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                                <input aria-label="Afficher le mot de passe" id="password-1758-show" type="checkbox" aria-describedby="password-1758-show-messages">
                                <label class="fr-password__checkbox fr-label" for="password-1758-show">
                                    {{'global.display'|trans}}
                                </label>
                                <div class="fr-messages-group" id="password-1758-show-messages" aria-live="assertive">
                                </div>
                            </div>
                            <p>
                            <a href="{{path('app_resend_password_requerant')}}" class="fr-link">{{'login.forgotten_password'|trans}}</a>
                            </p>
                          </div>
                        </div>
                        <div class="fr-messages-group" id="credentials-messages" aria-live="assertive">
                        </div>
                      </fieldset>
                    </div>
                    <div class="fr-fieldset__element">
                      <ul class="fr-btns-group">
                        <li>
                          <button class="fr-btn fr-mt-2v" type="submit">
                              {{'login.connect'|trans}}
                          </button>
                        </li>
                      </ul>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}


                  </form>
                </div>
                <hr>
                <h2>{{'login.no_account_title'|trans}}</h2>
                <ul class="fr-btns-group">
                    <li>
                      <a href="{{path('app_add_requerant')}}" class="fr-btn fr-btn--secondary">
                      {{'login.create_account'|trans}}
                      </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
