<html>
  <head>
    <title>{{'security.reset_password.email.title'|trans|replace({'%name%': name})}}</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>{{'security.reset_password.email.content'|trans|raw}}</p>
    <center>
      <a href={{url}}>{{'security.reset_password.email.content'|trans}}</a>
    </center>
  </body>
</html>
