<html>
  <head>
    <title>{{'security.reset_password.email.title'|trans|replace({'%name%': name})}}</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>{{'security.reset_password.email.content'|trans|raw}}</p>
    <center>
      <a href="{{ signedUrl|raw }}">Lien de mise à jour du mot de passe</a>
    </center>
    <p>
      {{'register.email.expired_at'|trans}} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
    <p>
      {{'register.email.thanks'|trans}}
    </p>
  </body>
</html>
