{% extends 'base.html.twig' %}

{% block title %}{{'resend_password.title'|trans}}{% endblock %}

{% block body %}
{% set errors = resendPasswordForm.vars.errors.form.getErrors(true) %}
<main class="fr-pt-md-14v" role="main" id="content">
  <div class="fr-container fr-container--fluid fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      {% for error in errors %}
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-alert fr-alert--error">
          <h3 class="fr-alert__title">{{'register.error.title'|trans}}</h3>
          <p>{{ error.message|trans }}</p>
        </div>
      </div>
      {% endfor %}

      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
          <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
              <div>
                  {{ form_start(resendPasswordForm) }}
                  <fieldset class="fr-fieldset">
                    {{form_label(resendPasswordForm.email)}}
                    {{ form_widget(resendPasswordForm.email) }}
                  </fieldset>
                  {{form_row(resendPasswordForm.submit)}}
                  {{ form_end(resendPasswordForm) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
