{% set requerantPersonne = dossier.requerantPersonne ?? null %}
{% set e = (requerantPersonne is not null and requerantPersonne.estFeminin) ? 'e' : '' %}
{% set libellePersonneMorale = dossier.requerantPersonneMorale is not null ? dossier.requerantPersonneMorale.libelle(true) : null %}
<p>
    Je soussigné{{ e }},
    {{ dossier.requerantPersonne.getNomCourant(false, true) }},
    {% if dossier.estPersonneMorale %}représentant{{ e }} légal{{ e }} {% if libellePersonneMorale starts with 'le ' %}{{ libellePersonneMorale|replace({'le ': 'du '}) }}{% else %}de {{ libellePersonneMorale }}{% endif %},{% endif %}
    déclare accepter l’indemnité de {{ montantIndemnisation|montant_litteral }}
    ({{ montantIndemnisation|number_format(2, ',', ' ') }} EUR) qui m’est proposée par le ministère de la Justice, en
    réparation des dommages causés à la porte du logement sis {{ dossier.brisPorte.adresse.ligne1 }}
    à {{ dossier.brisPorte.adresse.localite|upper }} ({{ dossier.brisPorte.adresse.codeDepartemental }})
    {% if dossier.brisPorte.dateOperation is not null %} le {{ dossier.brisPorte.dateOperation|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }}{% endif %}.
</p>
<p>
    Je reconnais qu’après le versement de cette somme, je serai intégralement indemnisé{{ e }} du préjudice subi.
</p>