<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">Ministère<br>justice</p>
                        </div>
                        {#  Menu mobile #}
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499"
                                    id="button-modal-menu-header" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('app_homepage') }}" title="Mon Indemnisation Justice"></a>
                        <p class="fr-header__service-title">Mon Indemnisation Justice</p>
                        <div>
                            {% if app.environment != 'prod' %}
                                <p class="fr-badge fr-badge--warning fr-badge--no-icon">Plateforme test</p>
                            {% endif %}
                            <p class="fr-badge fr-badge--info fr-badge--no-icon">Espace agent</p>
                        </div>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <span class="fr-btn fr-icon-account-circle-line">{{ app.user }}</span>
                            </li>
                            <li>
                                <a class="fr-btn fr-icon-logout-box-r-line"
                                   href="{{ path('agent_securite_deconnexion') }}">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-474">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#  Version mobile #}
        <div class="fr-header__menu fr-modal" id="modal-menu-header" aria-labelledby="button-modal-menu-header">
            <div class="fr-container">
                <button class="fr-btn--close fr-btn" aria-controls="modal-menu-header" title="Fermer">
                    Fermer
                </button>
                <div class="fr-header__menu-links">
                    <ul class="fr-btns-group">
                        <li>
                            <span class="fr-btn fr-icon-account-circle-line">{{ app.user }}</span>
                        </li>
                        <li>
                            <a class="fr-btn fr-icon-logout-box-r-line"
                               href="{{ path('agent_securite_deconnexion') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>

                {# Menu principal #}
                <nav id="fr-header-main-navigation fr-container" class="fr-nav" role="navigation"
                     aria-label="Menu principal" data-fr-js-navigation="true">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                            <a href="{{ url('agent_mon_compte') }}" class="fr-nav__link">Mon compte</a>
                        </li>
                        {% if app.user.aRole('ROLE_AGENT_ATTRIBUTEUR', 'ROLE_AGENT_REDACTEUR', 'ROLE_AGENT_VALIDATEUR', 'ROLE_AGENT_LIAISON_BUDGET') %}
                            <li class="fr-nav__item">
                                <button
                                        aria-expanded="false"
                                        aria-controls="header-menu-dossiers"
                                        type="submit"
                                        class="fr-nav__btn">
                                    Dossiers
                                </button>
                                <div class="fr-collapse fr-menu" id="header-menu-dossiers">
                                    <ul class="fr-menu__list">
                                        {% if app.user.aRole('ROLE_AGENT_ATTRIBUTEUR') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/a-attribuer'}) }}"
                                                   class="fr-nav__link">
                                                    À attribuer
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_a_attribuer() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if app.user.aRole('ROLE_AGENT_REDACTEUR') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/a-instruire'}) }}"
                                                   class="fr-nav__link">
                                                    À instruire
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ app.user.nbDossiersAInstruire() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if app.user.aRole('ROLE_AGENT_VALIDATEUR') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/rejet-a-signer'}) }}"
                                                   class="fr-nav__link">
                                                    Rejet à signer
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_rejet_a_signer() }}</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/proposition-a-signer'}) }}"
                                                   class="fr-nav__link">
                                                    Proposition d'indemnisation à signer
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_proposition_a_signer() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if app.user.aRole('ROLE_AGENT_REDACTEUR') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/a-verifier'}) }}"
                                                   class="fr-nav__link">
                                                    À vérifier
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ app.user.nbDossiersAVerifier() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if app.user.aRole('ROLE_AGENT_VALIDATEUR') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/arrete-a-signer'}) }}"
                                                   class="fr-nav__link">
                                                    Rejet à signer
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_arrete_a_signer() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if app.user.aRole('ROLE_AGENT_LIAISON_BUDGET') %}
                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/a-transmettre'}) }}"
                                                   class="fr-nav__link">
                                                    À transmettre au Bureau du Budget
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_a_transmettre() }}</p>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ url('agent_fip3_react', { extra: '/dossiers/en-attente-indemnisation'}) }}"
                                                   class="fr-nav__link">
                                                    En attente de paiement
                                                    <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">{{ nb_dossiers_en_attente_indemnisation() }}</p>
                                                </a>
                                            </li>
                                        {% endif %}

                                        <li>
                                            <a href="{{ url('app_agent_redacteur_accueil') }}" class="fr-nav__link">
                                                Rechercher un dossier
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="fr-nav__item">
                                <a href="{{ url('app_agent_redacteur_accueil') }}" class="fr-nav__link">Les
                                    dossiers</a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_AGENT_GESTION_PERSONNEL') %}
                            <li class="fr-nav__item">
                                <button
                                        aria-expanded="false"
                                        aria-controls="header-menu-gestion-agents"
                                        type="button"
                                        class="fr-nav__btn">Gestion des agents
                                </button>
                                <div class="fr-collapse fr-menu" id="header-menu-gestion-agents">
                                    <ul class="fr-menu__list">

                                        <li>
                                            <a href="{{ url('gestion_agents_en_attente') }}" class="fr-nav__link">
                                                Agents en attente de validation
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ url('gestion_agents_actifs') }}" class="fr-nav__link">
                                                Agents actifs
                                            </a>
                                        </li>
                                    </ul>
                                </div>


                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>