{% extends 'agent/base.html.twig' %}

{% block title %}Dossiers{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {{ vite_entry_link_tags('agent/fip6') }}
{% endblock stylesheets %}

{% block main %}
    <div id="react-app" class="fr-container fr-my-3w" style="display:flex; flex-direction:column;gap: 2vh;padding-bottom:2vh;"></div>

{% endblock main %}

{% block javascripts %}
    {% if est_vite_server_actif() %}
        {% include '_vite_hmr_extra.html.twig' %}
    {% endif %}

    {#
    <script type="application/json" id="react-args">
        {{ react|default({})|json_encode()|raw }}
    </script>
    #}

    {{ vite_entry_script_tags('agent/fip6') }}

    {{ parent() }}
{% endblock javascripts %}