<html>
  <head>
    <title>{{'bris_porte.edit.email.title_sign'|trans}}</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>{{'bris_porte.edit.email.content_sign'|trans|replace({'%reference%':reference})|raw}}</p>
    <a href="{{url}}">Je me connecte</a>
    <p>
      {{'register.email.thanks'|trans}}
    </p>
    <img src="{{urlTracking|raw}}"/>
  </body>
</html>
