{% extends 'base.html.twig' %}

{% block title %}Déclarer un bris de porte{% endblock %}

{% block stylesheets %}
  {{ vite_entry_link_tags('bris_porte_deposer_mon_dossier') }}
{% endblock stylesheets %}

{% block main %}
  <div id="react-app"></div>
{% endblock %}

{% block javascripts %}
  <script id="react-arguments" type="application/json">
    {
        "brisPorte": {{ brisPorte|serialize('json', {groups: 'prejudice:read'})|raw }},
        "user": {{ app.user|serialize('json',{groups: 'user:write'})|raw }}
    }
  </script>
  {% if est_vite_server_actif() %}
      {% include '_vite_hmr_extra.html.twig' %}
  {% endif %}

  {{ vite_entry_script_tags('bris_porte_deposer_mon_dossier') }}

  {{ parent() }}

{% endblock javascripts %}
