{% extends 'base.html.twig' %}

{% block title %}Déclarer un bris de porte{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    {{ vite_entry_link_tags('requerant/dossier/deposer_mon_dossier') }}
{% endblock stylesheets %}

{% block main %}
    <div id="react-app"></div>
{% endblock %}

{% block javascripts %}
    <script id="react-arguments" type="application/json">
        {
            "dossier": {{ dossier|serialize('json', {groups: 'dossier:lecture'})|raw }},
        "pays": {{ pays|serialize('json')|raw }}
        }
    </script>
    {% if est_vite_server_actif() %}
        {% include '_vite_hmr_extra.html.twig' %}
    {% endif %}

    {{ vite_entry_script_tags('requerant/dossier/deposer_mon_dossier') }}

    {{ parent() }}

{% endblock javascripts %}
