{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% set invitation_url = url('bris_porte_demarrer_depuis_invitation', {'reference': declaration.reference }) %}

{% block entete %}
    <b>Vous pouvez faire une demande d'indemnisation</b>
{% endblock entete %}

{% block contenu %}
    Bonjour {{ declaration.coordonneesRequerant.prenom }} {{ declaration.coordonneesRequerant.nom|upper }},
    <br/>
    <br/>
    Un agent des Forces de l’ordre vous a invité à déposer une demande d’indemnisation à la suite d'un bris de porte sur
    la plateforme Mon Indemnisation Justice.
    <br/>
    👉 Pour commencer votre démarche, veuillez créer votre compte et compléter votre dossier en ligne via le lien suivant :
    <a href="{{ invitation_url }}"
       title="Faire ma demande d'indemnisation">{{ invitation_url }}</a>
    <br/>
    <br/>
    {{ email.bouton("Faire ma demande d'indemnisation", invitation_url) }}
    <br/>
    <br/>
    ⏱️ La procédure est simple et peut être réalisée en 5 minutes. Vous pourrez également enregistrer votre dossier et le
    reprendre à tout moment.
    <br/>
    📎 Pensez à préparer les documents nécessaires afin de faciliter la complétion de votre demande.
    <br/>
    <br/>
    En cas de difficulté, vous pourrez retrouver de l’aide directement sur la plateforme.
    <br/>
    <br/>
    Cordialement,<br/>
    L'équipe Mon Indemnisation Justice
{% endblock contenu %}

