{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% set invitation_url = url('bris_porte_demarrer_depuis_invitation', {'reference': declaration.reference }) %}

{% block entete %}
    <b>Vous pouvez faire une demande d'indemnisation</b>
{% endblock entete %}

{% block contenu %}
    Bonjour {{ declaration.infosRequerant.prenom }} {{ declaration.infosRequerant.nom|upper }},
    <br/>
    <br/>
    Vous avez été invité par un agent des Forces de l'ordre à déposer votre dossier de demande d'indemnisation sur
    l'application Mon Indemnisation Justice.
    <br/>
    Pour se faire, veuillez créer votre compte en cliquant sur le bouton ci-dessous ou en vous rendant à
    l'adresse suivante : <a href="{{ invitation_url }}"
                            title="Faire ma demande d'indemnisation">{{ invitation_url }}</a>
    <br/>
    <br/>
    {{ email.bouton("Faire ma demande d'indemnisation", invitation_url) }}
    <br/>
    <br/>
    Cordialement,<br/>
    L'équipe Mon Indemnisation Justice
{% endblock contenu %}

