{% macro menu_lien(libelle, route, badge_libelle = null, badge_type = '') %}
    {% if app.current_route == route %}
        <li class="fr-sidemenu__item">
            <span class="fr-sidemenu__link">
                {{  libelle }} {% if badge_libelle is not null and badge_libelle > 0 %}
                <p class="fr-badge {{ badge_type }} fr-badge--no-icon fr-mx-2v">{{ badge_libelle }}</p>
                {% endif %}
            </span>
        </li>
    {% else %}
        <li class="fr-sidemenu__item fr-sidemenu__item--active">
            <a class="fr-sidemenu__link" href="{{ url(route) }}" target="_self">
                {{  libelle }} {% if badge_libelle is not null and badge_libelle > 0 %}
                <p class="fr-badge {{ badge_type }} fr-badge--no-icon fr-mx-2v">{{ badge_libelle }}</p>
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endmacro %}


<nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-col-lg-3" aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner">
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-sidemenu__title" id="fr-sidemenu-title">Tous les dossiers</div>
            <ul class="fr-sidemenu__list">
                {{ _self.menu_lien('Nouveaux', 'agent_redacteur_nouveaux_dossiers', decompte['nouveaux'], 'fr-badge--new') }}
                {{ _self.menu_lien('À valider', 'agent_redacteur_dossiers_a_valider', decompte['aValider'], 'fr-badge--green-archipel') }}
                {{ _self.menu_lien('Acceptés', 'agent_redacteur_dossiers_valides', decompte['acceptes'], 'fr-badge--success') }}
                {{ _self.menu_lien('Refusés', 'agent_redacteur_dossiers_refuses', decompte['refuses'], 'fr-badge--error') }}
            </ul>
        </div>
    </div>
</nav>