{% extends 'agent/redacteur/base_liste_dossiers.html.twig' %}

{% block title %}Dossiers à valider{% endblock title %}


{% block contenu %}
    <h3>Nouveaux dossiers</h3>

    <div class="fr-grid-row">
        {#
        <div class="fr-col-12 fr-col-md-4 fr-py-3w">
            <div class="fr-search-bar" id="pr-search-dossiers" role="search">
                <label class="fr-label" for="pr-search-dossiers-nouveaux">
                    Recherche
                </label>
                <input class="fr-input" placeholder="Rechercher dans le tableau" type="search"
                       id="pr-search-dossiers-nouveaux" name="pr-search-dossiers-nouveaux">
                <button class="fr-btn" title="Rechercher dans le tableau">
                    Rechercher
                </button>
            </div>
        </div>
         #}

        <!-- Tableau -->
        <div class="fr-col-12">
            <div class="fr-table" id="prec-tableau-dossiers-nouveauxs_container">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="prec-tableau-dossiers-nouveaux">
                                <caption class="fr-hidden">
                                    Dossiers à valider
                                </caption>
                                <thead>
                                <tr>
                                    <th scope="col">
                                        Référence
                                    </th>
                                    <th scope="col">
                                        Nom / Prénom
                                    </th>
                                    <th scope="col">
                                        Adresse
                                    </th>
                                    <th scope="col">
                                        Pré-validation
                                    </th>
                                    <th scope="col">
                                        <span class="fr-hidden">Action</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dossier in dossiers %}
                                    <tr>
                                        <td>
                                            {{ dossier.reference }}
                                        </td>
                                        <td>
                                            {{ dossier.requerant.personnePhysique.prenom1 }} {{ dossier.requerant.personnePhysique.nom }}
                                        </td>
                                        <td>
                                            {{ dossier.adresse.libelle }}
                                        </td>
                                        <td>
                                            {% set etat = dossier.etatPreValide %}
                                            Pré-{% if etat.etat.name == 'DOSSIER_PRE_VALIDE' %}validé{% else %}refusé{% endif %} le {{ etat.date|format_datetime(locale='fr',pattern="d MMMM YYYY") }}
                                            <br />
                                            par <b>{{ etat.agent.nomComplet }}</b>
                                        </td>
                                        <td>
                                            <a href="{{ url('agent_bris_porte_consulter', {'id': dossier.id}) }}" class="fr-btn fr-btn--sm fr-btn--icon fr-icon-eye-line">Accéder
                                                au dossier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">
                                            <p class="fr-p-2w">Aucun nouveau dossier à valider, vous êtes à jour 😎</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock contenu %}