{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}
{% set requerant = prejudice.requerant %}
{% set personnePhysique = requerant.personnePhysique %}
{% set personneMorale = requerant.personneMorale %}
{% set punct = '…………………………………………' %}
<div class="text-md">
  <center class="text-bold">DÉCLARATION D’ACCEPTATION</center>
  <p>
  Je soussignée,{% if requerant.isPersonneMorale %}{{personneMorale.raisonSociale}}, représentée par {{requerant.personnePhysiquePlaintext}}{% else %}{{requerant.personnePhysiquePlaintext}}{% endif %}
  déclare accepter l’indemnité de {{prejudice.propositionIndemnisation|spellout}} ({{prejudice.propositionIndemnisation|number_format(2,',','')}} EUR) qui
  m’est proposée par le garde des sceaux, ministre de la Justice, en réparation du préjudice subi en
  raison de la détérioration de la porte d’entrée du logement m’appartenant sis {{prejudice.adressePlaintext}}.
  </p>
  <p>Je reconnais que, moyennant le versement de cette somme, je serai intégralement désintéressé du préjudice subi au cours
  de l’opération de police judiciaire du {{prejudice.dateOperationPJ|date('d/m/Y')}} à l’adresse susmentionnée.
  </p>
  <p>
  Je déclare renoncer à exercer toute action ultérieure concernant ces faits contre l’État.
  </p>
  <p>
  Je demande que l’indemnité soit versée sur le compte référencé ci-dessous :
  </p>
  <br/>
  <center>
    <table class="table">
      <tr>
        <th class="text-left">Etablissement</th><td>:</td><td class="punct">{{punct}}</td>
      </tr>
      <tr>
        <th class="text-left">IBAN</th><td>:</td><td>{{punct}}</td>
      </tr>
      <tr>
        <th class="text-left">BIC</th><td>:</td><td>{{punct}}</td>
      </tr>
      {% if requerant.isPersonneMorale %}
      <tr>
        <th class="text-left">Numéro SIRET / SIREN</th><td>:</td><td>{{ personneMorale.sirenSiret }}</td>
      </tr>
      {% else %}
      <tr>
        <th class="text-left">Numéro de sécurité sociale</th><td>:</td><td>{{ personnePhysique.numeroSecuriteSociale ? personnePhysique.numeroSecuriteSociale ~ ' ' ~ personnePhysique.codeSecuriteSociale : punct}}</td>
      </tr>
      <tr>
        <th class="text-left">Date et lieu de naissance</th><td>:</td><td>{{ personnePhysique.dateNaissance|date('d/m/Y')}} A {{personnePhysique.communeNaissance|upper}}</td>
      </tr>
      {% endif %}
    </table>
  </center>
  <br/>
  <p>Fait à {{punct}}, le {{"now"|date("d/m/Y")}}</p>
  <p>

  Signature (précédée de la mention « lu et approuvé »{% if requerant.isPersonneMorale %} et cachet de la personne morale{% endif %})
  </p>
  <br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/>
  <!-- -->
  <table>
    <tr>
      <th class="text-underline text-left">Référence à rappeler</th><td> : </td><td>{{prejudice.reference}}<td/>
    </tr>
  </table>
</div>
{% endblock %}
