{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ vite_entry_link_tags('agent/dossiers/consulter') }}

{% endblock stylesheets %}

{% block main %}
    <div id="react-app-agent-consultation-dossiers"></div>
{% endblock main %}

{% block javascripts %}
    <script id="react-arguments" type="application/json">
    {{ react|default({})|json_encode()|raw }}
  </script>
  {% if est_vite_server_actif() %}
      {% include '_vite_hmr_extra.html.twig' %}
  {% endif %}

    {{ vite_entry_script_tags('agent/dossiers/consulter') }}

    {{ parent() }}
{% endblock javascripts %}
