{% extends 'base.html.twig' %}

{% block title %}Bris de porte : tester mon éligibilité{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# <script src="{{ asset('build/alpinejs/cdn.js') }}" defer></script> #}
    <style>
        form[name="eligibilite-test-form"] {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .pr-section-formulaire {
            /* fr-my-3w */
            /*margin: 1.5rem 0;*/
            /* fr-px-3w && fr-py-4w */
            padding: 1.5rem 2rem;
            box-shadow:0 0 8px 2px var(--shadow-color);
        }

        .pr-section-formulaire h4 {
            font-weight: 400 !important;
        }

        /* AlpineJS */
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    {% include('bris_porte/_header.html.twig') %}
{% endblock header %}

{% block main %}
    <div class="fr-container fr-my-3w">
        {#  Indicateur d'étapes #}
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                Tester mon éligibilité
                <span class="fr-stepper__state">Étape 1 sur 3</span>
            </h2>
            <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="3"></div>
            <p class="fr-stepper__details">
                <span class="fr-text--bold">Étape suivante :</span> Création de mon compte
            </p>
        </div>

        <div class="fr-col-12" id="react-app" data-form-url={{ url(app.current_route) }}" data-csrf-token="{{ form._token.vars.value }}">
            {#
                Désactivé le temps de la transition
                {% include 'bris_porte/_form_test_eligibilite.html.twig' %}
            #}

        </div>
    </div>
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bris-porte-tester-mon-eligibilite') }}
    {#
    <script type="text/javascript">
        function eligibiliteTestForm() {

            return {
                reponses: {
                    estVise: null,
                    estRecherche: null,
                    estProprietaire: null,
                    aContacteAssurance: null,
                    aContacteBailleur: null,
                },
                questions: {
                    estVise: function(_) { return true; },
                    estRecherche: function(reponses) { return reponses.estVise === false; },
                    estProprietaire: function(reponses) { return reponses.estRecherche === false; },
                    aContacteAssurance: function(reponses) { return reponses.estProprietaire != null; },
                    aContacteBailleur: function(reponses) { return reponses.aContacteAssurance != null && reponses.estProprietaire === false; }
                },
                decisions: [],
                estDecide: function (nom) {
                    return !!this.decisions.find(function(decision) { return decision.name === nom; });
                },
                statuer: function (reponses) {
                    this.decisions.length = 0;
                    // Statuer sur une décision ici :
                    if (reponses.estVise) {
                        this.decisions.push({
                            name: "error_est_vise",
                            eligible: false
                        });
                    } else if (reponses.estRecherche) {
                        this.decisions.push({
                            name: "error_est_recherche",
                            eligible: false
                        });
                    } else {
                        if (reponses.estProprietaire) {
                            if (reponses.aContacteAssurance != null) {
                                this.decisions.push({
                                    name: reponses.aContacteAssurance ? 'success' : 'warning_proprietaire_assurance'
                                });
                            }
                        } else if (reponses.estProprietaire === false) {
                            if (reponses.aContacteAssurance != null && reponses.aContacteBailleur != null) {
                                if (reponses.aContacteAssurance === false) {
                                    this.decisions.push({
                                        name: "warning_locataire_assurance"
                                    });
                                }
                                if (reponses.aContacteBailleur === false) {
                                    this.decisions.push({
                                        name: 'warning_locataire_bailleur'
                                    });
                                }
                                if (reponses.aContacteAssurance && reponses.aContacteBailleur) {
                                    this.decisions.push({
                                        name: 'success'
                                    });
                                }
                            }
                        }
                    }
                },
                reinitialiser: function (question) {
                    if (question) {
                        const questions = Object.keys(this.reponses);
                        questions.slice(questions.indexOf(question) + 1).forEach(function(c) { return this.reponses[c] = null; });
                        this.statuer(this.reponses);
                    } else {
                        Object.keys(this.reponses).forEach(function (c) { return this.reponses[c] = null; });
                        this.decisions.length = 0;
                    }
                },
            };
        };
    </script>
     #}
{% endblock javascripts %}
