{% extends 'base.html.twig' %}

{% block title %}Bris de porte : tester mon éligibilité{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('build/alpinejs/cdn.js') }}" defer></script>
    <style>
        /* AlpineJS */
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <div class="fr-container fr-my-3w">
        {#  Indicateur d'étapes #}
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                Tester mon éligibilité
                <span class="fr-stepper__state">Étape 1 sur 3</span>
            </h2>
            <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="3"></div>
            <p class="fr-stepper__details">
                <span class="fr-text--bold">Étape suivante :</span> Création de mon compte
            </p>
        </div>

        <div class="fr-col-12">


            {# Formulaire #}
            <form
                name="eligibilite-test-form"
                action="{{ url(app.current_route) }}"
                method="POST"
                x-data="eligibiliteTestForm()"
                x-init="$watch('reponses', (reponses) => statuer(reponses))"
            >
                <input type="hidden" name="_token" value="{{ form._token.vars.value }}">

                <div class="fr-callout">
                    <h3 class="fr-callout__title">
                        Avant de démarrer le questionnaire
                    </h3>
                    <p class="fr-callout__text">
                        Dans le cadre d’un sinistre "Bris de Porte", il est important de noter que vous ne pouvez pas être indemnisé plusieurs fois par différents intermédiaires pour le même dommage. Afin de garantir <a class="fr-link" aria-describedby="infobulle-respect-principe" id="lien-infobulle-respect-principe" href="#">le respect de ce principe</a>, nous vous prions de bien vouloir répondre aux questions suivantes. À l'issue de ce questionnaire, nous vous informerons des démarches à suivre et des éléments manquants le cas échéant pour traiter votre demande dans les meilleures conditions.
                    </p>
                    <span class="fr-tooltip fr-placement" id="infobulle-respect-principe" role="tooltip" aria-hidden="true">
                        En vertu du principe de réparation intégrale du préjudice sans perte ni profit, la victime d'un dommage ne peut obtenir deux indemnisations distinctes en réparation du même préjudice (Cour de cassation, civile, Chambre civile 2, 16 décembre 2021, 19-11.294, Inédit ; Cour de cassation, civile, Chambre civile 2, 9 février 2023, 21-21.217, Publié au bulletin)
                    </span>
                </div>

                {# Questions #}

                <div
                    class="fr-col-12"
                    x-show="questions.estVise(reponses)"
                    x-model.boolean="reponses.estVise"
                    x-transition.duration.500ms
                >
                    <fieldset
                        class="fr-fieldset"
                        aria-labelledby="checkboxes-inline-legend"

                    >
                        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                            Êtes-vous la personne visée par l'opération des forces de l'ordre ?
                        </legend>
                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-vise-oui"
                                    name="estVise"
                                    value="true"
                                    @change="reinitialiser('estVise')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-vise-oui" >Oui</label>
                            </div>
                        </div>

                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-vise-non"
                                    name="estVise"
                                    value="false"
                                    @change="reinitialiser('estVise')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-vise-non" >Non</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div
                    class="fr-col-12"
                    x-show="questions.estRecherche(reponses)"
                    x-model.boolean="reponses.estRecherche"
                    x-transition.duration.500ms
                >
                    <fieldset
                        class="fr-fieldset"
                        aria-labelledby="checkboxes-inline-legend"
                    >
                        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                            Est-ce que la personne recherchée réside ou est hébergée à cette adresse ?
                        </legend>
                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-recherche-oui"
                                    name="estRecherche"
                                    value="true"
                                    :checked="reponses?.estRecherche === true"
                                    @change="reinitialiser('estRecherche')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-recherche-oui" >Oui</label>
                            </div>
                        </div>

                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-recherche-non"
                                    name="estRecherche"
                                    value="false"
                                    :checked="reponses?.estRecherche === false"
                                    @change="reinitialiser('estRecherche')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-recherche-non" >Non</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div
                    class="fr-col-12"
                    x-show="questions.estProprietaire(reponses)"
                    x-model.boolean="reponses.estProprietaire"
                    x-transition.duration.500ms
                >
                    <fieldset
                        class="fr-fieldset"
                        aria-labelledby="checkboxes-inline-legend"
                    >
                        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                            Quel est votre statut par rapport au logement ?
                        </legend>
                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-proprietaire-oui"
                                    name="estProprietaire"
                                    value="true"
                                    :checked="reponses?.estProprietaire === true"
                                    @change="reinitialiser('estProprietaire')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-proprietaire-oui" >Propriétaire</label>
                            </div>
                        </div>

                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-est-proprietaire-non"
                                    name="estProprietaire"
                                    value="false"
                                    :checked="reponses?.estProprietaire === false"
                                    @change="reinitialiser('estProprietaire')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-est-proprietaire-non" >Locataire</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div
                    class="fr-col-12"
                    x-show="questions.aContacteAssurance(reponses)"
                    x-model.boolean="reponses.aContacteAssurance"
                    x-transition.duration.500ms
                >
                    <fieldset
                        class="fr-fieldset"
                        aria-labelledby="checkboxes-inline-legend"
                    >
                        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                            Avez-vous contacté votre assurance habitation et obtenu, si nécessaire, une attestation de non prise en charge du sinistre ?
                        </legend>
                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-a-contacte-assurance-oui"
                                    name="aContacteAssurance"
                                    value="true"
                                    :checked="reponses?.aContacteAssurance === true"
                                    @change="reinitialiser('aContacteAssurance')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-a-contacte-assurance-oui" >Oui</label>
                            </div>
                        </div>

                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-a-contacte-assurance-non"
                                    name="aContacteAssurance"
                                    value="false"
                                    :checked="reponses?.aContacteAssurance === false"
                                    @change="reinitialiser('aContacteAssurance')"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-a-contacte-assurance-non" >Non</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div
                    class="fr-col-12"
                    x-show="questions.aContacteBailleur(reponses)"
                    x-model.boolean="reponses.aContacteBailleur"
                    x-transition.duration.500ms
                >
                    <fieldset
                        class="fr-fieldset"
                        aria-labelledby="checkboxes-inline-legend"
                    >
                        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                            Avez-vous pris contact avec votre bailleur car celui-ci a, à votre égard, une obligation de sécurité (article 170 du code civil) ?
                        </legend>
                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-a-contacte-bailleur-oui"
                                    name="aContacteBailleur"
                                    :checked="reponses?.aContacteBailleur === true"
                                    value="true"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-a-contacte-bailleur-oui" >Oui</label>
                            </div>
                        </div>

                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                            <div class="fr-radio-group">
                                <input
                                    id="eligibilite-test-form-a-contacte-bailleur-non"
                                    name="aContacteBailleur"
                                    :checked="reponses?.aContacteBailleur === false"
                                    value="false"
                                    type="radio"
                                />
                                <label class="fr-label" for="eligibilite-test-form-a-contacte-bailleur-non" >Non</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                {# Décisions #}
                <div
                    class="fr-alert fr-my-2w fr-alert--error"
                    x-show="decision?.name === 'error_est_vise'"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous n’êtes pas éligible à l’indemnisation.
                    </h3>
                    <p>
                        Si vous étiez la personne visée par l’opération des forces de l’ordre, vous ne pouvez pas prétendre à l’indemnisation par nos services.
                    </p>
                </div>

                <div
                    class="fr-alert fr-my-2w fr-alert--error"
                    x-show="decision?.name === 'error_est_recherche'"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous n’êtes pas éligible à l’indemnisation.
                    </h3>
                    <p>
                        Si la personne visée par les forces de l'ordre réside ou est hébergée à cette adresse, il ne s’agit pas d’une erreur de porte. Vous ne pouvez pas prétendre à l’indemnisation de nos services.
                    </p>
                    <p>
                        Si votre locataire était la personne recherchée, vous pouvez engager sa responsabilité contractuelle conformément à l'article 1732 du Code civil. Cela peut vous aider à obtenir réparation en cas de dommages ou de manquements liés à ses obligations en tant que locataire.
                    </p>
                </div>

                <div
                    class="fr-alert fr-my-2w fr-alert--warning"
                    x-show="decision?.name === 'warning_proprietaire_assurance'"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de prendre contact avec votre assurance habitation dès que possible. En cas de refus de prise en charge du sinistre, il est important de demander une attestation de non prise en charge. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-my-2w fr-alert--warning"
                    x-show="decision?.name === 'warning_locataire_assurance'"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de prendre contact avec votre assurance habitation dès que possible. En cas de refus de prise en charge du sinistre, il est important de demander une attestation de non prise en charge. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-my-2w fr-alert--warning"
                    x-show="decision?.name === 'warning_locataire_bailleur'"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de contacter votre bailleur dès que possible, pour obtenir l’attestation de non prise en charge des réparations. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-my-2w fr-alert--success"
                    x-show="decision?.name === 'success'"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous êtes éligible à l’indemnisation.
                    </h3>
                    <p>
                        Nous vous invitons à suivre les indications afin de créer votre compte et compléter votre dossier.
                    </p>
                </div>


                {# Boutons #}

                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg">
                    <button
                        x-show="true"
                        x-cloak
                        class="fr-btn fr-btn--tertiary-no-outline"
                        aria-controls="modale-test-eligibilite"
                        data-fr-js-modal-button="true"
                        @click="reinitialiser()"
                        type="button"
                    >Recommencer
                    </button>
                    <button
                        class="fr-btn"
                        type="submit"
                        :disabled="!decision || !(decision?.eligible ?? true)"
                        x-cloak
                    >Faire ma demande
                    </button>

                </div>

            </form>
        </div>
    </div>
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function eligibiliteTestForm() {

            return {
                reponses: {
                    estVise: null,
                    estRecherche: null,
                    estProprietaire: null,
                    aContacteAssurance: null,
                    aContacteBailleur: null,
                },
                questions: {
                    estVise: (_) => true,
                    estRecherche: (reponses) => reponses.estVise === false,
                    estProprietaire: (reponses) => reponses.estRecherche === false,
                    aContacteAssurance: (reponses) => reponses.estProprietaire != null,
                    aContacteBailleur: (reponses) => reponses.aContacteAssurance && reponses.estProprietaire === false
                },
                decision: null,
                statuer(reponses) {
                    // Statuer sur une décision ici :
                    if (reponses.estVise) {
                        this.decision = {
                            name: "error_est_vise",
                            eligible: false
                        };
                    } else if (reponses.estRecherche) {
                        this.decision = {
                            name: "error_est_recherche",
                            eligible: false
                        };
                    } else {
                        if (reponses.estProprietaire) {
                            if (reponses?.aContacteAssurance != null) {
                                this.decision = {
                                    name: reponses.aContacteAssurance ? 'success' : 'warning_proprietaire_assurance'
                                };
                            }
                        } else if (reponses.estProprietaire === false) {
                            if (reponses?.aContacteAssurance != null) {
                                if (reponses?.aContacteAssurance === false) {
                                    this.decision = {
                                        name: "warning_locataire_assurance"
                                    };
                                } else if (reponses?.aContacteBailleur != null) {
                                    this.decision = {
                                        name: reponses?.aContacteBailleur ? 'success' : 'warning_locataire_bailleur'
                                    };
                                }
                            }
                        }
                    }
                },
                reinitialiser(question) {
                    if (question) {
                        const questions = Object.keys(this.reponses);
                        questions.slice(questions.indexOf(question) + 1).forEach((c) => this.reponses[c] = null);
                        this.decision = null;
                        this.statuer(this.reponses);
                    } else {
                        Object.keys(this.reponses).forEach((c) => this.reponses[c] = null);
                        this.decision = null;
                    }
                },
            };
        };
    </script>
{% endblock javascripts %}
