{% set breadcrumb = breadcrumb is defined ? breadcrumb : null %}
{% if breadcrumb %}
<nav role="navigation" class="fr-breadcrumb fr-m-0 fr-pl-2w fr-pt-1w" aria-label="{{'breadcrumb.home'|trans}}">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">{{('breadcrumb.show'|trans)}}</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            {% for item in breadcrumb.items %}
            <li>
            {% if item.url %}
            <a class="fr-breadcrumb__link" href="{{ item.url }}">{{item.label|translate(item.translationParams)}}</a>
            {% else %}
            <a class="fr-breadcrumb__link" aria-current="page">{{item.label|translate(item.translationParams)}}</a>
            {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}
