<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">Ministère<br>justice</p>
                        </div>
                        {#  Menu mobile #}
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('app_homepage') }}" title="Mon Indemnisation Justice"></a>
                        <p class="fr-header__service-title">Mon Indemnisation Justice</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn fr-icon-government-line" href="{{ path('app_agent_securite_connexion') }}">Agent</a>
                            </li>
                            <li>
                                <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-474">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#  Version mobile #}
        <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
            <div class="fr-container">
                <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                    Fermer
                </button>
                <div class="fr-header__menu-links">
                    <ul class="fr-btns-group">
                        <li>
                            <a class="fr-btn fr-icon-government-line" href="{{ path('app_agent_securite_connexion') }}">Agent</a>
                        </li>
                        <li>
                            <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                    </ul>
                </div>

                {# Menu principal #}
                <nav id="fr-header-main-navigation fr-container" class="fr-nav" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item" data-fr-js-navigation-item="true">
                            <a href="{{ path('app_category') }}" class="fr-nav__link">Déclarer un préjudice</a>
                        </li>
                        <li class="fr-nav__item" data-fr-js-navigation-item="true">
                            <a href="{{ path('app_suivi_mon_dossier') }}" class="fr-nav__link">Suivre mon dossier</a>
                        </li>
                        <li class="fr-nav__item" data-fr-js-navigation-item="true">
                            <a href="{{ path('app_qui_sommes_nous') }}" class="fr-nav__link">Qui sommes-nous ?</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>