<!doctype html>
<html lang="fr" data-fr-scheme="system">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000091">

        <link rel="apple-touch-icon" href="{{ asset('dsfr/favicon/apple-touch-icon.png') }}"/>
        <link rel="icon" href="{{ asset('dsfr/favicon/favicon.svg') }}" type="image/svg+xml"/>
        <link rel="shortcut icon" href="{{ asset('/dsfr/favicon/favicon.ico') }}" type="image/x-icon"/>
        <link rel="manifest" href="{{ asset('dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials"/>
        <link rel="stylesheet" href="{{ asset('dsfr/utility/utility.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}"/>
        {% block stylesheets %}
        {% endblock stylesheets %}
        <title>{% block title %}Mon indemnisation justice{% if title is defined %} - {{ title }}{% endif %}{% endblock %}</title>

    </head>
    <body>
        <header role="banner" class="fr-header">
            <div class="fr-header__body">
                <div class="fr-container">
                    <div class="fr-header__body-row">
                        <div class="fr-header__brand fr-enlarge-link">
                            <div class="fr-header__brand-top">
                                <div class="fr-header__logo">
                                    <p class="fr-logo">Ministère<br>justice</p>
                                </div>
                                {#  Menu mobile #}
                                <div class="fr-header__navbar">
                                    <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" id="button-500" title="Menu">
                                        Menu
                                    </button>
                                </div>
                            </div>
                            <div class="fr-header__service">
                                <a href="{{ path('app_homepage') }}" title="Mon Indemnisation Justice"></a>
                                <p class="fr-header__service-title">Mon Indemnisation Justice</p>
                                {% block header_extra %}
                                {% endblock header_extra %}
                            </div>
                        </div>
                        <div class="fr-header__tools">
                            <div class="fr-header__tools-links">
                                {% block header_menu %}
                                    <ul class="fr-btns-group">
                                        <li>
                                            <a class="fr-btn fr-icon-government-line" href="{{ path('app_agent_securite_connexion') }}">Agent</a>
                                        </li>
                                        <li>
                                            <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">Se connecter</a>
                                        </li>
                                    </ul>
                                {% endblock header_menu %}
                            </div>
                            <div class="fr-header__search fr-modal" id="modal-474">
                                <div class="fr-container fr-container-lg--fluid">
                                    <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#  Version mobile #}
                <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
                    <div class="fr-container">
                        <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                            Fermer
                        </button>
                        <div class="fr-header__menu-links">
                            {{ block('header_menu') }}
                        </div>

                        {% block navigation_menu %}
                            <nav id="fr-header-main-navigation fr-container" class="fr-nav" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
                                <ul class="fr-nav__list">
                                    <li class="fr-nav__item" data-fr-js-navigation-item="true">
                                        <a href="{{ path('app_category') }}" class="fr-nav__link">Déclarer un préjudice</a>
                                    </li>
                                    <li class="fr-nav__item" data-fr-js-navigation-item="true">
                                        <a href="{{ path('app_suivi_mon_dossier') }}" class="fr-nav__link">Suivre mon dossier</a>
                                    </li>
                                    <li class="fr-nav__item" data-fr-js-navigation-item="true">
                                        <a href="{{ path('app_qui_sommes_nous') }}" class="fr-nav__link">Qui sommes-nous ?</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endblock navigation_menu %}
                    </div>
                </div>
            </div>
        </header>

        {# Fil d'ariane

            <div className="pr-body_header">
              <section className="pr-breadcrumb">
                <div className="fr-container">
                  <FilAriane breadcrumb={this.breadcrumbValue}/>
                </div>
              </section>
        #}

        <main role="main">
            <div class="fr-container fr-container--fluid fr-my-2w fr-px-3w">
                {% block main %}
                {% endblock main %}
            </div>
        </main>

        {% include('_footer.html.twig') %}

        {% block javascripts %}
            <script>
                window.dsfr = {
                    verbose: {% if app.debug %}true{% else %}false{% endif %},
                    production: {% if app.environment == 'prod' %}true{% else %}false{% endif %},
                };
            </script>
            <script type="module" src="{{ asset('dsfr/dsfr.module.min.js') }}"></script>
            <script type="text/javascript" nomodule src="{{ asset('dsfr/dsfr.nomodule.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
