<!doctype html>
<html lang="fr" data-fr-scheme="system">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000091">

        <link rel="apple-touch-icon" href="{{ asset('dsfr/favicon/apple-touch-icon.png') }}"/>
        <link rel="icon" href="{{ asset('dsfr/favicon/favicon.svg') }}" type="image/svg+xml"/>
        <link rel="shortcut icon" href="{{ asset('/dsfr/favicon/favicon.ico') }}" type="image/x-icon"/>
        <link rel="manifest" href="{{ asset('dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials"/>
        <link rel="stylesheet" href="{{ asset('dsfr/utility/utility.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}"/>
        {% block stylesheets %}
            {#
            <style>
                .pr-content {
                    position: relative;
                    background-color: var(--background-alt-grey);
                    z-index: 0;
                }

                .pr-content_header .pr-whoami {
                    position: relative;
                    min-height: 20rem;
                }

                .pr-content_header .pr-whoami::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    z-index: -1;
                    background-image: url('{{ asset("images/picture/pic_olympe-site.jpg") }}');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .pr-content_header .pr-whoami .pr-whoami_text {
                    position: relative;
                    width: 55%
                }

                .pr-content_header .pr-whoami .pr-whoami_text::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    z-index: -1;
                    background-color: var(--pr-bg-color-white);
                }

                .pr-content_body {
                    border: 1px solid var(--pr-color-grey);
                    background-color: var(--background-default-grey);
                }

                .pr-service-national_body {
                    background-color: var(--pr-color-grey);
                }

                .pr-service-national-text {
                    color: var(--pr-bg-color-blue-royal);
                }

                .pr-service-national-text h3 {
                    color: var(--pr-bg-color-blue-royal);
                }

                .pr-service-national-illu_france {
                    background-image: url('{{  asset('images/illustration/illu_territoires-france.png') }}');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    min-height: 30rem;
                    width: 100%;
                }

            </style>
             #}
        {% endblock stylesheets %}
        <title>{% block title %}Mon indemnisation justice{% if title is defined %} - {{ title }}{% endif %}{% endblock %}</title>
        {% block analytic %}
            {% if app.environment == 'prod' %}
                <!-- Matomo -->
                <script>
                  var _paq = window._paq = window._paq || [];
                  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                  _paq.push(['trackPageView']);
                  _paq.push(['enableLinkTracking']);
                  (function() {
                    var u="https://stats.beta.gouv.fr/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '142']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                  })();
                </script>
                <!-- End Matomo Code -->
            {% endif %}
        {% endblock analytic %}

    </head>
    <body>
        {% if app.user|est_requerant %}
            {% include('requerant/_header.html.twig') %}
        {% elseif app.user|est_agent %}
            {% include('agent/_header.html.twig') %}
        {% else %}
            {% include('_header.html.twig') %}
        {% endif %}

        {# Fil d'ariane: à intégrer #}
        <main role="main">

            {% block main %}
            {% endblock main %}
        </main>

        {% include('_footer.html.twig') %}

        {% block modale %}
        {% endblock modale %}

        {% block javascripts %}
            <script>
                window.dsfr = {
                    verbose: {% if app.debug %}true{% else %}false{% endif %},
                    production: {% if app.environment == 'prod' %}true{% else %}false{% endif %},
                };
            </script>
            <script type="module" src="{{ asset('dsfr/dsfr.module.min.js') }}"></script>
            <script type="text/javascript" nomodule src="{{ asset('dsfr/dsfr.nomodule.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
