<html lang="fr">
  <head>
    <title>Navigateur non supporté par l'application</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000091">

    <link rel="apple-touch-icon" href="{{ asset('dsfr/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" href="{{ asset('dsfr/favicon/favicon.svg') }}" type="image/svg+xml"/>
    <link rel="shortcut icon" href="{{ asset('/dsfr/favicon/favicon.ico') }}" type="image/x-icon"/>
    <link rel="manifest" href="{{ asset('dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials"/>
    <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}"/>

  </head>
  <body>
    <div class="container">
      <h1>La configuration de votre navigateur est trop ancienne pour utiliser l'application !</h1>
      <p>
        Vous utilisez actuellement un navigateur qui n'est pas pris en charge par notre application.
      </p>

      <p>
        Nous vous invitons à vous connecter avec un autre logiciel, ou un autre appareil, plus récent.
      </p>
    </div>
  </body>
</html>
