<p>
    J’accuse réception de votre requête par laquelle vous
    sollicitez{% if dossier.brisPorte.rapportAuLogement != 'AUTRE' or not dossier.brisPorte.precisionRapportAuLogement %}, en qualité de {{ dossier.brisPorte.rapportAuLogement != 'AUT' ? dossier.brisPorte.rapportAuLogement.libelle|lower : dossier.brisPorte.precisionRapportAuLogement|lower }},{% endif %}
    l’indemnisation du préjudice subi en raison de la détérioration de la porte d’entrée du logement sis
    {{ dossier.brisPorte.adresse.ligne1 }} à {{ dossier.brisPorte.adresse.localite|default }}
    ({{ dossier.brisPorte.adresse.codeDepartemental }}).
    Cette dégradation aurait été occasionnée au cours d’une opération de police
    judiciaire{% if dossier.brisPorte.dateOperation is not null %} menée le
    {{ dossier.brisPorte.dateOperation|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }}{% endif %}
    .
</p>