{% extends 'courrier/_base_courrier.html.twig' %}

{% block style %}
    <style>
        body {


            header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 6rem;

                .courrier-decision-courrier-titre {
                    width: 50%;
                    text-align: right;
                    font-weight: bolder;
                    font-size: 12pt;
                }
            }

            #courrier-decision {

                ul,ol {
                    li {
                        margin: .7rem 0;
                    }
                }


                #courrier-decision-courrier-introduction {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    margin: 0 0 30pt 0;

                    p {
                        &:first-child {
                            margin-top: 0 !important;
                        }

                        margin: 9pt 0;
                        font-size: 9pt;
                        line-height: 11pt;
                    }

                    .contact-bureau {
                    }

                    .section-a-gauche {
                        width: calc(11 * 100% / 18)
                    }

                    .section-a-droite {
                        text-align: right;
                        width: calc(7 * 100% / 18);

                        &.section-flottante {
                            margin-left: calc(11 * 100% / 18);
                        }
                    }
                }

                #courrier-decision-courrier-contenu {
                    .courrier-decision-objet {
                        font-weight:bold;
                        margin-bottom: 3rem;
                    }


                    p {
                        margin: 10pt 0;
                        letter-spacing: 0;
                        font-size: 11pt;
                        line-height: 13pt;
                        word-wrap: break-word;
                    }

                }
            }

        }

    </style>
{% endblock style %}

{% block pages %}

    <header>

        <div id="logo-ministere">
            {% include 'courrier/logo_ministere.svg' %}
        </div>


        <span class="courrier-decision-courrier-titre">Direction des services judiciaires</span>

    </header>
    <div id="courrier-decision" class="page">
        <div id="courrier-decision-courrier-introduction">
            <div class="section-a-gauche">
                <p>
                    La Cheffe de bureau<br/>
                    L’adjoint à la Cheffe de bureau
                </p>


                    <p>
                        {% if dossier.redacteur is not null %}Affaire suivie par : {{ dossier.redacteur.nomCourt }}<br/>{% endif %}
                        Sous-direction des finances, <br/>
                        de l’immobilier et de la performance (SDFIP)<br/>
                        Bureau du precontentieux (FIP6)<br/>
                        <a href="mailto:precontentieux.dsj-fip6@justice.gouv.fr">precontentieux.dsj-fip6@justice.gouv.fr</a><br/>
                        Référence à rappeler : {{ dossier.reference }}
                </p>
            </div>

            <div class="section-a-droite">
                Paris,
                le {{ "now"|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }}
            </div>


            <div class="section-a-droite section-flottante">
                <p>
                    {% if dossier.estPersonneMorale %}
                        {{ dossier.requerantPersonneMorale.libelle(true) }}
                    {% else %}
                    {{ dossier.requerantPersonne.civilite.libelle }} {{ dossier.requerantPersonne.nomCourant(civilite: false, capital: true) }}{% if dossier.courrielRequerant != null %}
                    {% endif %}
                    <br/>
                    Courriel: <a
                            href="mailto:{{ dossier.courrielRequerant }}">{{ dossier.courrielRequerant }}</a>
                    {% endif %}
                </p>
            </div>

        </div>

        <div id="courrier-decision-courrier-contenu">
            <p class="courrier-decision-objet">
                Objet : {% if dossier.estAccepte %}Proposition d’indemnisation{% else %}Décision concernant votre demande d’indemnisation{% endif %}
            </p>

            <p>
                {{ dossier.requerantPersonne.civilite.libelle }},
            </p>
            {% if corps is defined and corps is not null %}
                {{ corps|raw }}
            {% endif %}
        </div>
    </div>
{% endblock pages %}
