{% set e = (dossier.requerantPersonne is not null and dossier.requerantPersonne.estFeminin) ? 'e' : '' %}
{% set montantLitteral = (montantIndemnisation ?? dossier.montantIndemnisation)|montant_litteral ~ ' (' ~ (montantIndemnisation ?? dossier.montantIndemnisation)|number_format(2, ',', ' ') ~ ' EUR)' %}

<h3>Arrêté</h3>

<h4>Le garde des sceaux, ministre de la justice</h4>

<p>
    Vu la loi n° 2026-103 du 19 février 2026 de finances pour 2026 ;
</p>
<p>
    Vu la demande de {{ dossier.requerantPersonne.nomComplet }}{% if dossier.estPersonneMorale %}, représentant{{ e }} légal{{ e }} {{ dossier.requerantPersonneMorale.libelleDe }},{% endif %} du {{ dossier.dateDepot|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }}.
</p>
<p>
    Vu la proposition du Ministère de la Justice du {{ dossier.dateSignatureAgent|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }}
    d'allouer à {{ dossier.requerantPersonne.nomComplet }} une indemnité    de {{ montantLitteral }} ;
</p>
<p>
    Vu la déclaration d’acceptation de {{ dossier.requerantPersonne.nomComplet }} ;
</p>
<p>
    Considérant que le préjudice subi par {{ dossier.requerantPersonne.nomComplet }}, relatif aux dommages causés à la porte
    du logement sis {{ dossier.brisPorte.adresse.ligne1 }} à {{ dossier.brisPorte.adresse.localite|upper }} {% if dossier.brisPorte.adresse.codeDepartemental %}({{ dossier.brisPorte.adresse.codeDepartemental }}){% endif %},
    résulte d’une opération de police judiciaire menée le {{ dossier.brisPorte.dateOperation|format_datetime(locale='fr',pattern="d MMMM yyyy", timezone: 'Europe/Paris') }};
</p>

<p>
    Considérant que la responsabilité de l’État est engagée à l’égard de {{ dossier.requerantPersonne.nomComplet }} sur le
    fondement de la rupture d’égalité devant les charges publiques ;
</p>

<p>
    Considérant que le quantum supporté par l’État est fixé à la somme de {{ montantLitteral }};
</p>

<p>
    Considérant qu’il convient de procéder au paiement de ladite somme ;
</p>

<h3>Arrêté</h3>

<p>
    <b><u>Article 1er</u></b>. - Il est alloué à {{ dossier.requerantPersonne.nomComplet }} la somme
    de {{ montantLitteral }} pour les causes sus-énoncées.</p>
<p>
    <b><u>Article 2.</u></b> - Cette somme sera versée sur le compte bancaire de {{ dossier.requerantPersonne.nomComplet }}
    ouvert à la banque ?BANQUE?.
</p>
<p>
    <b><u>Article 3.</u></b> - Le montant de cette indemnité sera imputé sur les crédits inscrits au programme
    166, HT2, domaine fonctionnel 0166-06-01 du budget du Ministère de la Justice.
</p>