{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice : nouveau dossier d'indemnisation de bris de porte déposé{% endblock subject %}

{% block entete %}
Nouveau dossier d'indemnisation de bris de porte déposé<br/>
<b>Référence: {{ brisPorte.reference }}</b>
{% endblock entete %}


{% block contenu %}
Bonjour l'équipe Précontentieux,
<br/>
<br/>
Le dossier <b>{{ brisPorte.reference}}</b> de demande d'indemnisation de <i>bris de porte</i> vient d'être
déposé, avec les détails suivants :
<br/>
<h4>Identité et contact du / de la requérant(e)</h4>
<ul>
    {% if brisPorte.requerant.isPersonneMorale %}
        <li>
            Raison sociale : <b>{{ brisPorte.requerant.personneMorale.raisonSociale }}</b>
        </li>

        <li>
            SIREN / SIRET : <b>{{ brisPorte.requerant.personneMorale.sirenSiret }}</b>
        </li>
    {% else %}
        <li>
        Nom : <b>{{ brisPorte.requerant.personnePhysique.nomNaissance }}</b>
        </li>
        <li>
            Prénom : <b>{{ brisPorte.requerant.personnePhysique.prenom1 }}</b>
        </li>
    {% endif %}
    <li>
        Domicilié : {% if brisPorte.requerant.adresse %}<b>{{ brisPorte.requerant.adresse.libelle }}</b>{% else %}<i>non renseignée</i>{% endif %}
    </li>
    <li>
        Courriel : <a href="mailto:{{ brisPorte.requerant.email }}">{{ brisPorte.requerant.email }}</a>
    </li>

    <li>
        Numéro de téléphone : {{ brisPorte.requerant.personnePhysique.telephone }}
    </li>
</ul>

<h4>Test d'éligibilité</h4>
<ul>
    <li>
        Département: <b>{{ brisPorte.departement }}</b>
    </li>
    <li>
        Est la personne visée par l'opération ? <b>{{ brisPorte.estVise ? 'Oui' : 'Non' }}</b>
    </li>
    <li>
        Hébergeait la personne recherchée ? <b>{{ brisPorte.estHebergeant ? 'Oui' : 'Non' }}</b>
    </li>
    {% if not brisPorte.estVise and not brisPorte.estHebergeant %}
        <li>
            Situation vis-à-vis du logement: <b>{{ brisPorte.estProprietaire ? 'Propriétaire' : 'Locataire' }}</b>
        </li>
        <li>
            Assurance contactée ? <b>{{ brisPorte.aContactAssurance ? 'Oui' : 'Non' }}</b>
        </li>
        {% if not brisPorte.estProprietaire %}
            <li>
                Bailleur contacté ? <b>{{ brisPorte.aContactBailleur ? 'Oui' : 'Non' }}</b>
            </li>
        {% endif %}
    {% endif %}
</ul>

<h4>Bris de porte</h4>
<ul>
    <li>
        Date : <b>{{ brisPorte.dateOperationPJ|format_datetime(locale='fr',pattern="d MMMM YYYY", timezone: 'Europe/Paris') }}</b>
    </li>
    <li>
        Lieu : <b>{{ brisPorte.adresse.libelle }}</b>
    </li>
    <li>
        Qualité du demandeur : {% if brisPorte.qualiteRequerant %}
            <b>{{ brisPorte.qualiteRequerant.libelle }}{% if brisPorte.qualiteRequerant == 'AUT' %}({{ brisPorte.precisionRequerant }}){% endif %}</b>
            {% else %}
            <i>non renseignée</i>
        {% endif %}
    </li>
    {#
    <li>
        Attestation remise à : <b>{{ brisPorte.receveurAttestation.nomComplet }}</b>
        {% if brisPorte.receveurAttestation.qualiteRequerant %}, en qualité de <b>{{ brisPorte.receveurAttestation.qualiteRequerant.libelle }}{% if brisPorte.receveurAttestation.qualiteRequerant == 'AUT' %}({{ brisPorte.receveurAttestation.precision }}){% endif %}</b>{% endif %}
    </li>
     #}
    <li>
        Porte blindée: <b>{% if brisPorte.isPorteBlindee %}Oui{% else %}non{% endif %}</b>
    </li>

</ul>
{#
<h4>Service enquêteur</h4>
<ul>
    <li>
        Nom : {% if brisPorte.serviceEnqueteur.nom|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.nom }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
    <li>
        Téléphone : {% if brisPorte.serviceEnqueteur.telephone|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.telephone }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
    <li>
        Courriel : {% if brisPorte.serviceEnqueteur.courriel|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.courriel }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
    <li>
        Numéro de PV : {% if brisPorte.serviceEnqueteur.numeroPV|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.numeroPv }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
    <li>
        Juridiction : {% if brisPorte.serviceEnqueteur.juridiction|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.juridiction }}</b>{% else %}<i>non renseignée</i>{% endif %}
    </li>
    <li>
        Magistrat : {% if brisPorte.serviceEnqueteur.magistrat|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.magistrat }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
    <li>
        Numéro de parquet : {% if brisPorte.serviceEnqueteur.numeroParquet|default('') is not empty %}<b>{{ brisPorte.serviceEnqueteur.numeroParquet }}</b>{% else %}<i>non renseigné</i>{% endif %}
    </li>
</ul>
 #}
<h4>Documents transmis (<i>bientôt</i> consultables depuis l'espace rédacteur)</h4>
<ul>
{% for document in brisPorte.liasseDocumentaire.documents %}


    <li>
        Nom: <b>{{ document.originalFilename }}</b>
    </li>
{% else %}
    <li>
        <i>Aucun document fourni.</i>
    </li>
{% endfor %}
</ul>


Cordialement,<br/>
L'équipe Mon Indemnisation Justice
{% endblock contenu %}
